<div class="current-wrapper" *ngIf="this.weatherInfo?.name">
  <h1 class="my-class">{{ this.weatherInfo.name }}</h1>
  <img src="{{ weatherIconURL }}" alt="" class="center" />
  <div class="primary">{{ this.weatherInfo.main.temp }}°C</div>
  <div class="secondary">
    Feels like {{ this.weatherInfo.main.feels_like }}°C
  </div>
  <div class="secondary">
    {{ this.weatherInfo.weather[0].description | titlecase }}
  </div>
  <div class="tertiary">Humidity: {{ this.weatherInfo.main.humidity }}%</div>
  <div class="tertiary">Clouds {{ this.weatherInfo.clouds.all }}%</div>
  <div class="tertiary">Wind speed: {{ this.weatherInfo.wind.speed }}m/s E</div>
</div>
