.current-wrapper {
  width: 430px;
  height: 260px;

  background: linear-gradient(#d2f3ff00, #d2f3ff);
}

.primary {
  font-size: 36px;
  font-weight: 100;
  margin-left: 8pt;
}

.secondary {
  font-size: 21px;
  margin-left: 8pt;
}
.tertiary {
  font-size: 16px;
  margin-left: 8pt;
}
