.current-wrapper {
  width: 430px;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(#d2f3ff00, #ffffff);
  color: #4e7281;
}

.primary {
  font-size: 36px;
  font-weight: 100;
  margin-left: 8pt;
}

.secondary {
  font-size: 21px;
  margin-left: 8pt;
}
.tertiary {
  font-size: 16px;
  margin-left: 8pt;
}
