.forecast-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(#d1eefb, #8ec1da);

  & h1 {
    padding-right: 300px;
  }
}
