<div class="app-wrapper">
  <h2>Weather App</h2>
  <div class="search-weapper">
    <input
      type="text"
      id="search-field"
      placeholder="Type in a city"
      #cityToLookFor
    />
    <button (click)="getWeatherData(cityToLookFor.value)">Search</button>
  </div>

  <div class="tab-wrapper">
    <div class="tab-selector" routerLinkActive="active">
      <a routerLink="/current-weather">Current weather</a>
    </div>
    <div class="tab-selector" routerLinkActive="active">
      <a routerLink="/weather-forecast">Forecast 5 days</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<a
  class="github"
  href="https://github.com/gunalazd/weather-app"
  target="_blank"
>
  <div class="github-text">View code in</div>
  <img src="assets/GitHub_Logo.png" alt="" width="200" />
</a>
