body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #bfdfec;
  background-repeat: repeat-x;
  background-image: url("https://i.stack.imgur.com/b7z29.png");
  animation: movement 10s linear infinite;
  font-family: Ubuntu, sans-serif;
}

h2 {
  color: #4e7281;
}

h1 {
  text-align: center;
  color: #4e7281;
  font-size: 36px;
}

@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}
