body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #0e6cc4;
  font-family: Ubuntu, sans-serif;
}

h2 {
  color: #165691;
}

h1 {
  text-align: center;
  color: #165691;
  font-size: 36px;
}
